<div class="helpBackground">
<div class="helpIntro">

    <p>.</p>
    <h1>Help page for TripsWebapp</h1>
<p>.</p>
</div>


<p>before dividing div</p>


    <div class="dividingDivExt">
        <div class="dividingDivMid">
            <div class="dividingDivInt">

            </div>
        </div>
    </div>

<p>after dividing div</p>


    <div class="footer">
        <p>inside footer div</p>

    </div>

</div>