<div class="helpBackground">
<div class="helpIntro">

    <p>.</p>
    <h1>Help page for TripsWebapp</h1>
<p>.</p>
</div>


<p>How can we help you?</p>


    <div class="dividingDivExt">
        <div class="dividingDivMid">
            <div class="dividingDivInt">

            </div>
        </div>
    </div>

    <ul>
        <li> Problems with connection to the server? </li>
        <li> Access restriction in some countries?</li>
        <li> visual bugs? </li>
        <li> Different browsers incompatibility?</li>
        <li> Your account got stolen?</li>
        <li> Something not listed here?</li>
    </ul>
<p>Right now we don't have any way to solve every possible problem ,
    but we would appreciate any feedback from your side, whether it is positive or not.</p>
    <p>All reported problems will be dealt with as soon as the development team could do.</p>
    <p>in any case we are sincerely grateful for using our application to your needs .</p>

    <div class="footer">
        <p>For any bug reports submit an email on : TripsSupport@gmail.com</p>

    </div>

</div>