<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="style.css" />
    <title>Welcome to your notes</title>
</head>
<body>
<button class="add" id="add">
    <i class="fas fa-plus"></i> Add note
</button>

<script src="/js/script.js"></script>
</body>
</html>
