

{{#each notes}}
    <div class="info">
        <p><strong>{{username}}: </strong>{{noteText}}</p>
    </div>
{{/each}}

<div>
    <textarea id="noteText" rows="3"></textarea> <br>
    <button id="addNoteButton"  onclick="addNote();">Add Comment</button>
</div>



