<h1>{{ session.user.username }} WishList</h1>

<div class="container">
    <ul>
        {{#each placesFromWishlist}}
            <li>
                <img src="url({{imgUrl}})" alt="">
                    <h3>{{name}} {{price}}</h3>

            </li>
        {{/each}}
    </ul>
</div>
